# Core Flask dependencies
flask
flask-cors
werkzeug

# APK Analysis
androguard
lxml
networkx
pydot
cryptography
asn1crypto

# AI Explanation
pyyaml
openai
groq

# File Scanning Dependencies
yara-python
python-magic
requests

dnspython>=2.3.0
python-whois>=0.8.0